<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    {% if title %}
    <title>Team Name – {{ title }}</title>
    {% else %}
    <title>Team Name</title>
    {% endif %}
</head>

<body>
    <header>
        <nav class="flex container">
            <div>
                <a href="index">Team Name</a>
            </div>
            <div class="links">
                <a href="playground">Playground</a>
                <a href="streaming">Streaming</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="container flex">
            <p>Made by Team Name</p>
        </div>
    </footer>
    <script src="static/js/main.js"></script>
</body>

</html>