{% extends "base.html" %}
{% block content %}
<div>
    <h2>Setup</h2>
    <form data-ajax="false">
        <div class="ip">
            <label for="ip-address">IP Address</label>
            <div>
                <input type="text" name="address" required
                    pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" id="ip-address"
                    value="255.255.255.255" placeholder="255.255.255.255">
            </div>
        </div>
        <div>
            <label for=""></label>
            <div id="coordinates">
                <input type="number" name="x1" id="x1">
                <input type="number" name="y1" id="y1">
                <input type="number" name="x2" id="x2">
                <input type="number" name="y2" id="y2">
            </div>
            <div>
                <button id="area" type="button">Set Area</button>
            </div>
        </div>
        <div>
            <div>
                <button type="submit">Setup</button>
            </div>
        </div>
    </form>
</div>
<script src="static/js/selection.js"></script>
{% endblock content %}