{% extends "base.html" %}
{% block content %}
<div id="stream">
    <h1>Stream</h1>
    <form id="stream-form" data-ajax="false">
        <!-- <div class="ip">
            <label for="ip-address">IP Address</label>
            <div>
                <input type="text" name="address" required
                    pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" id="ip-address" placeholder="255.255.255.255">
            </div>
        </div> -->
        <div>
            <label for=""></label>
            <div id="coordinates">
                <input type="hidden" name="x1" id="x1">
                <input type="hidden" name="y1" id="y1">
                <input type="hidden" name="x2" id="x2">
                <input type="hidden" name="y2" id="y2">
            </div>
            <div>
                <button id="set-area" type="button">Set Area to Begin Stream</button>
            </div>
        </div>
        <div>
            <p id="success-msg">Streaming in progress</p>
            <div>
                <button id="stop-btn" disabled type="submit" name="stop" value="1">Stop Stream</button>
            </div>
        </div>
    </form>
</div>
<script src="static/js/selection.js"></script>
{% endblock content %}